.container{
    background: #73D973;
    width: 300px;
    height: 200px;
    font: 30px/200px yahei;
    color:#fff;
    text-align: center;
}
.tri{
    position:relative;
    width: 0;
    height: 0;
    top:-220px;
    left:300px;
}
.container:hover .tri{
    border-left:10px solid #136E13;
    border-bottom:10px solid #136E13;
    border-top:10px solid #fff;
    border-right:10px solid #fff;
    top:-200px;
    left: 280px;
    transition:all 0.8s;
}