.container{
    width: 400px;
    height: 400px;
    background-color: #f00;
    background-image: url("../20170821/胡歌.jpg");
    overflow: scroll;
    /* background-repeat: space; */
    /* background-size:cover; */

}
#con{
    width: 500px;
    height: 600px;
    overflow: scroll;
}