
body{
	background: #77ddff;
}
a{
	text-decoration: none;
	color: #000000;
}

.title{
	font: bold 30px arial;
	color: #ff0000;
	text-align: center;
}
.description{
	margin-top: 5px;
	text-align: center;
	font: 16px arial;
}
