.container{
	width: 1222px;
	height: 2326px;
	margin: auto;
	overflow: hidden;
}
.tel{
	width: 1222px;
	height: 32px;
	background: #ebebeb;
	position: relative;
}
.tel-logo{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 815px;
	bottom: 2px;
	background-image: url(./image/tel.png);
	background-repeat: no-repeat;
}
.tel-number{
	position: absolute;
	width: 236px;
	height: 24px;
	font: 16px/24px yahei;
	right: 141px;
	bottom: 2px;
}
.blank{
	width: inherit;
	height: 3px;
	background: #ebebeb;
	margin-top: 1px;
}




#Nav{
	width: inherit;
	height: 102px;
	position: relative;
}
.logo{
	float: left;
	margin: 42px 90px 22px 145px;
	background-image: url(./image/logo.png);
	width: 195px;
	height: 39px;
}
.nav-T{
	position: absolute;
	left: 430px;
	top: 46px;
	width: 730px;
}
.nav{
	float: left;
	width: 85px;
	height: 32px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.line{
	float: left;
	width: 1px;
	height: 16px;
	background: #ebebeb;
	margin: 0 8px 18px 8px;
}
.nav:hover{
	font-weight: bold;
	border-bottom: 3px solid #000000;
}
.selected{
	font-weight: bold;
	border-bottom: 3px solid #000000;
}


.banner{
	width: 1222px;
	height: 400px;
	background-image: url(./image/banner.png);
	position: relative;
}


.lianjie{
	width: 374px;
	height: 72px;
	margin: auto;
	margin-top: 158px;
}
.lianjie-a{
	width: 374px;
	height: 72px;
	display: block;
}

.box-R{
	width: 27px;
	height: 112px;
	position: absolute;
	right: 0;
	top: 99px;
}
.telNumber{
	background: #ff0000;
	width: 100px;
	height: 50px;
	position: absolute;
	left: 27px;
	color: #ffffff;
	font: 18px simsun;
	transition: all 0.4s;
}
.box-R:hover .telNumber{
	left: -100px;
}

.container-b{
	width: 963px;
	height: 1675px;
	margin: auto;
}

.title{
	width: 963px;
	height: 62px;
	border-bottom: 1px solid #b4b4b4;
}
.anli{
	width: 86px;
	height: 62px;
	border-bottom: 2px solid #000000;
	font: bold 13px/95px yahei;
}


.example{
	width: 934px;
	height: 1558px;
	margin: auto;
}

.row1{
	margin-top: 12px;
}
.picture{
	width: 171px;
	height: 115px;
	float: left;
	cursor: pointer;
	border: 1px solid #b4b4b4;
}
.picture:hover{
	background-color: rgba(255,0,0,0.3);
	background-blend-mode: color-burn;
}
.picture2 , .picture3 , .picture4 , .picture5{
	margin-left: 17px;
}

.row1 .picture1{
	background-image: url(./image/chenggong_1.png);
}
.row1 .picture2{
	background-image: url(./image/chenggong_1.png);
	background-position-x: -190px;
}
.row1 .picture3{
	background-image: url(./image/chenggong_1.png);
	background-position-x: -380px;
}
.row1 .picture4{
	background-image: url(./image/chenggong_1.png);
	background-position-x: -570px;
}
.row1 .picture5{
	background-image: url(./image/chenggong_1.png);
	background-position-x: -760px;
}

.row2 .picture1{
	background-image: url(./image/chenggong_2.png);
}
.row2 .picture2{
	background-image: url(./image/chenggong_2.png);
	background-position-x: -190px;
}
.row2 .picture3{
	background-image: url(./image/chenggong_2.png);
	background-position-x: -380px;
}
.row2 .picture4{
	background-image: url(./image/chenggong_2.png);
	background-position-x: -570px;
}
.row2 .picture5{
	background-image: url(./image/chenggong_2.png);
	background-position-x: -760px;
}

.row3 .picture1{
	background-image: url(./image/chenggong_3.png);
}
.row3 .picture2{
	background-image: url(./image/chenggong_3.png);
	background-position-x: -190px;
}
.row3 .picture3{
	background-image: url(./image/chenggong_3.png);
	background-position-x: -380px;
}
.row3 .picture4{
	background-image: url(./image/chenggong_3.png);
	background-position-x: -570px;
}
.row3 .picture5{
	background-image: url(./image/chenggong_3.png);
	background-position-x: -760px;
}

.row4 .picture1{
	background-image: url(./image/chenggong_4.png);
}
.row4 .picture2{
	background-image: url(./image/chenggong_4.png);
	background-position-x: -190px;
}
.row4 .picture3{
	background-image: url(./image/chenggong_4.png);
	background-position-x: -380px;
}
.row4 .picture4{
	background-image: url(./image/chenggong_4.png);
	background-position-x: -570px;
}
.row4 .picture5{
	background-image: url(./image/chenggong_4.png);
	background-position-x: -760px;
}

.row5 .picture1{
	background-image: url(./image/chenggong_5.png);
}
.row5 .picture2{
	background-image: url(./image/chenggong_5.png);
	background-position-x: -190px;
}
.row5 .picture3{
	background-image: url(./image/chenggong_5.png);
	background-position-x: -380px;
}
.row5 .picture4{
	background-image: url(./image/chenggong_5.png);
	background-position-x: -570px;
}
.row5 .picture5{
	background-image: url(./image/chenggong_5.png);
	background-position-x: -760px;
}

.row6 .picture1{
	background-image: url(./image/chenggong_6.png);
}
.row6 .picture2{
	background-image: url(./image/chenggong_6.png);
	background-position-x: -190px;
}
.row6 .picture3{
	background-image: url(./image/chenggong_6.png);
	background-position-x: -380px;
}
.row6 .picture4{
	background-image: url(./image/chenggong_6.png);
	background-position-x: -570px;
}
.row6 .picture5{
	background-image: url(./image/chenggong_6.png);
	background-position-x: -760px;
}

.row7 .picture1{
	background-image: url(./image/chenggong_7.png);
}
.row7 .picture2{
	background-image: url(./image/chenggong_7.png);
	background-position-x: -190px;
}
.row7 .picture3{
	background-image: url(./image/chenggong_7.png);
	background-position-x: -380px;
}
.row7 .picture4{
	background-image: url(./image/chenggong_7.png);
	background-position-x: -570px;
}
.row7 .picture5{
	background-image: url(./image/chenggong_7.png);
	background-position-x: -760px;
}

.row8 .picture1{
	background-image: url(./image/chenggong_8.png);
}
.row8 .picture2{
	background-image: url(./image/chenggong_8.png);
	background-position-x: -190px;
}
.row8 .picture3{
	background-image: url(./image/chenggong_8.png);
	background-position-x: -380px;
}
.row8 .picture4{
	background-image: url(./image/chenggong_8.png);
	background-position-x: -570px;
}
.row8 .picture5{
	background-image: url(./image/chenggong_8.png);
	background-position-x: -760px;
}

.row9 .picture1{
	background-image: url(./image/chenggong_9.png);
}
.row9 .picture2{
	background-image: url(./image/chenggong_9.png);
	background-position-x: -190px;
}
.row9 .picture3{
	background-image: url(./image/chenggong_9.png);
	background-position-x: -380px;
}
.row9 .picture4{
	background-image: url(./image/chenggong_9.png);
	background-position-x: -570px;
}
.row9 .picture5{
	background-image: url(./image/chenggong_9.png);
	background-position-x: -760px;
}


.row10 .picture1{
	background-image: url(./image/chenggong_10.png);
}
.row10 .picture2{
	background-image: url(./image/chenggong_10.png);
	background-position-x: -190px;
}
.row10 .picture3{
	background-image: url(./image/chenggong_10.png);
	background-position-x: -380px;
}
.row10 .picture4{
	background-image: url(./image/chenggong_10.png);
	background-position-x: -570px;
}
.row10 .picture5{
	background-image: url(./image/chenggong_10.png);
	background-position-x: -760px;
}

.word{
	width: 173px;
	height: 38px;
	float: left;
	font: 12px/38px yahei;
	text-align: center;
	margin-left: 17px;
}
.word1{
	margin: 0;
}

.page{
	width: 168px;
	height: 43px;
	margin-left: 398px;
}

.pagenumber1 , .pagenumber4{
	width: 48px;
	height: 24px;
	border: 1px solid;
}
.pagenumber2 , .pagenumber3{
	width: 18px;
	height: 24px;
	border: 1px solid;
}
.pagenumber3 , .pagenumber4{
	border-color: #b4b4b4;
}
.pagenumber1 , .pagenumber2{
	border-color: #ffffff;
}
.pagenumber1 , .pagenumber2 , .pagenumber3 , .pagenumber4{
	float: left;
	font: 14px/24px yahei;
	text-align: center;
	margin-left: 3px;
	color: #535252;
	cursor: pointer;
}
.pagenumber4{
	margin-left: 10px;
}

#End{
	padding-top: 20px;
	width: inherit;
	height: 119px;
	background: #eaeaea;
	border-top: 1px solid #b4b4b4;
	text-align: center;
	font: 13px yahei;
	line-height: 12px;
	word-spacing: 4px;
}
