.container{
	width: 1222px;
	height: 1407px;
	margin: auto;
	overflow: hidden;
}
.tel{
	width: 1222px;
	height: 32px;
	background: #ebebeb;
	position: relative;
}
.tel-logo{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 815px;
	bottom: 2px;
	background-image: url(./image/tel.png);
	background-repeat: no-repeat;
}
.tel-number{
	position: absolute;
	width: 236px;
	height: 24px;
	font: 16px/24px yahei;
	right: 141px;
	bottom: 2px;
}
.blank{
	width: inherit;
	height: 3px;
	background: #ebebeb;
	margin-top: 1px;
}




#Nav{
	width: inherit;
	height: 102px;
	position: relative;
}
.logo{
	float: left;
	margin: 42px 90px 22px 145px;
	background-image: url(./image/logo.png);
	width: 195px;
	height: 39px;
}
.nav-T{
	position: absolute;
	left: 430px;
	top: 46px;
	width: 730px;
}
.nav{
	float: left;
	width: 85px;
	height: 32px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.line{
	float: left;
	width: 1px;
	height: 16px;
	background: #ebebeb;
	margin: 0 8px 18px 8px;
}
.nav:hover{
	font-weight: bold;
	border-bottom: 3px solid #000000;
}
.selected{
	font-weight: bold;
	border-bottom: 3px solid #000000;
}


.banner{
	width: 1222px;
	height: 400px;
	background-image: url(./image/banner.png);
	position: relative;
}


.lianjie{
	width: 374px;
	height: 72px;
	margin: auto;
	margin-top: 158px;
}
.lianjie-a{
	width: 374px;
	height: 72px;
	display: block;
}

.box-R{
	width: 27px;
	height: 112px;
	position: absolute;
	right: 0;
	top: 99px;
}
.telNumber{
	background: #ff0000;
	width: 100px;
	height: 50px;
	position: absolute;
	left: 27px;
	color: #ffffff;
	font: 18px simsun;
	transition: all 0.4s;
}
.box-R:hover .telNumber{
	left: -100px;
}

.container-b{
	width: 954px;
	height: 756px;
	margin: auto;
}
.content , .contact{
	float: left;
}
.contact{
	width: 212px;
	height: 350px;
	margin-top: 26px;
}
.contact-online{
	width: 212px;
	height: 33px;
	border-bottom: 1px solid #8f8f8f;
}
.kefu{
	width: 68px;
	height: inherit;
	font: 13px/33px yahei;
	border-bottom: 1px solid #ff680b;
}

.qq-t{
	width: 192px;
	height: 66px;
	border-bottom: 1px dashed #b4b4b4;
	margin: auto;
}
.qq{
	height: 21px;
	width: inherit;
	cursor: pointer;
}
.qq1{
	margin-top: 10px;
}
.qq2{
	margin-top: 7px;
}
.qqpicture{
	width: 21px;
	height: 21px;
	background-image: url(./image/qq.png);
	float: left;
}
.kefu1{
	width: inherit;
	height: 21px;
	font: 13px/21px yahei;
}

.worktime{
	width: 192px;
	height: 102px;
	border-bottom: 1px dashed #b4b4b4;
	margin: auto;
}
.clock{
	width: inherit;
	height: 25px;
	margin-top: 8px;
}
.clock-p{
	width: 25px;
	height: 25px;
	background-image: url(./image/neirong_12.png);
	background-repeat: no-repeat;
	float: left;
}
.clock-title{
	font: bold 14px/25px yahei;
}
.time{
	width: inherit;
	height: 14px;
	font: 13px/14px yahei;
}
.time1{
	margin-top: 13px;
}
.time2{
	margin-top: 12px;
}


.contact-way{
	width: 192px;
	height: 200px;
	margin: auto;
}

.way{
	width: inherit;
	height: 25px;
	margin-top: 8px;
}
.way-p{
	width: 25px;
	height: 25px;
	background-image: url(./image/neirong_13.png);
	background-repeat: no-repeat;
	float: left;
}
.way-title{
	font: bold 14px/25px yahei;
}
.manager{
	margin-top: 13px;
	width: inherit;
	height: 14px;
	font: 13px/14px yahei;
}


.content{
	width: 715px;
	height: inherit;
	margin-left: 20px;
	text-align: center;
	color: #5e5c5c;
	position: relative;
}
#title{
	margin-top: 46px;
}
h4{
	margin: 0;
}
#text-time{
	font-size: 13px;
	margin-top: 10px;
}
.logo-t{
	width: 627px;
	height: 50px;
	margin: auto;
}
.row1{
	width: inherit;
	height: 22px;
	font: 14px/22px yahei;
	margin-top: 10px;
}
.row1 *{
	float: left;
}
.p{
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
}
.p1{
	background-image: url(./image/neirong_1.png);
}
.p2{
	background-image: url(./image/neirong_2.png);
}
.p3{
	background-image: url(./image/neirong_3.png);
}
.p4{
	background-image: url(./image/neirong_4.png);
}
.p5{
	background-image: url(./image/neirong_5.png);
}
.p6{
	background-image: url(./image/neirong_6.png);
}
.p7{
	background-image: url(./image/neirong_7.png);
}

.row2{
	width: inherit;
	height: 22px;
	font: 14px/22px yahei;
	margin-top: 4px;
}
.row2 *{
	float: left;
}
.p21{
	background-image: url(./image/neirong_8.png);
}
.p22{
	background-image: url(./image/neirong_9.png);
}
.p23{
	background-image: url(./image/neirong_10.png);
}
.p24{
	background-image: url(./image/neirong_11.png);
}
.web21{
	margin-left: 56px;
}
.web{
	cursor: pointer;
}

#sp{
	margin: 0;
	position: absolute;
	top: 152px;
	color: #05aba0;
}

.text-content{
	width: inherit;
	height: 518px;
	font: 13px yahei;
	text-align: left;
	margin-top: 10px;
}
.text-content p{
	line-height: 25px;
}

.page{
	width: 117px;
	height: 26px;
	margin: 20px auto;
}
.pagenumber{
	width: 48px;
	height: inherit;
	border: 1px solid #eaeaea;
	float: left;
	cursor: pointer;
	font: 14px/26px yahei;
}
.page2{
	margin-left: 16px;
}

#End{
	padding-top: 20px;
	width: inherit;
	height: 119px;
	background: #eaeaea;
	border-top: 1px solid #b4b4b4;
	text-align: center;
	font: 13px yahei;
	line-height: 12px;
	word-spacing: 4px;
}
