.container{
	width: 600px;
	height: 600px;
	background: #2b8ebb;
	position: relative;
	overflow: hidden;
	margin-left: 300px;
	background-color: #a5dff9;
	background-image: linear-gradient(0deg, rgba(8, 66, 96, 0.00) 70%,#084360);
}
@keyframes sky-change{
	0%{
		background-color: #a5dff9;
	}
	25%{
		background-color: #288dbb;
	}
	50%{
		background-color: #084460;
	}
	75%{
		background-color: #288dbb;
	}
	100%{
		background-color: #a5dff9;
	}
}
.container{
	animation: sky-change 4s linear infinite;
}
.star-fast{
	width: inherit;
	height: inherit;
	position: absolute;
	background-image: url(star-fast.png);
	background-position: 0 0;
}
.star-slow{
	width: inherit;
	height: inherit;
	position: absolute;
	background-image: url(star-slow.png);
	background-position: 0 0;
}
@keyframes star-move{
	0%{
		background-position: 0 0;
	}
	100%{
		background-position: -600px 0;
	}
}
.star-slow{
	animation: star-move 1.2s linear 0.5s infinite;
}
.star-fast{
	animation: star-move 0.8s linear 0.5s infinite;
}

.plane{
	position: absolute;
	top: 150px;
	left: 0;
	width: 128px;
	height: 128px;
	background-image: url(plane.png);
}
.plane1{
	position: absolute;
	top: 0;
	width: 128px;
	height: 128px;
	background-image: url(plane.png);
}

@keyframes slow-move{
	0%{
		top: 0;
	}
	100%{
		top: 2px;
	}
}
.plane1 , .ufo1{
	animation: slow-move 0.2s linear infinite;
}
.ufo{
	width: 128px;
	height: 128px;
	position: absolute;
	top: 150px;
	right: -200px;
	background-image: url(UFO.png);
}
.ufo1{
	position: absolute;
	top: 0;
	width: 128px;
	height: 128px;
	background-image: url(UFO.png);
}
@keyframes ufo-move{
	0%{
		right: -200px;
	}
	100%{
		right: 728px;
	}
}
.ufo{
	animation: ufo-move 3s ease-in-out infinite;
}
@keyframes plane-move{
	0%{
		left: 0;
		top: 150px;
	}
	50%{
		left: 100px;
		top: 300px;
	}
	75%{
		left: 200px;
		top: 150px;
	}
	100%{
		left: 0;
		top: 150px;
	}
}
.plane{
	animation: plane-move 3s linear 0.8s infinite;
}
.shadow{
	position: absolute;
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
	top: 27px;
	left: -30px;
}
@keyframes shadow-change{
	0%{
		background-image: url(shadow.png);
		opacity: 0.8;
	}
	100%{
		background-image: url(shadow.png);
		opacity: 0.3;
	}
}
.shadow{
	animation: shadow-change 3s ease infinite;
}

.hengfu , .hengfu1{
	width: 300px;
	height: 70px;
	background-image: url(hengfu.png);
	position: absolute;
	background-repeat: no-repeat;
}
.hengfu{
	top: 400px;
	right: -300px;
}
@keyframes hengfu-move{
	0%{
		right: -300px;
	}
	100%{
		right: 728px;
	}
}
.hengfu{
	animation: hengfu-move 4s ease-in-out infinite;
}

.hengfu1{
	top: 0;
	animation: hengfu1-move 0.5s ease infinite;
}
@keyframes hengfu1-move{
	0%{
		top: 0;
	}
	50%{
		top: 3px;
	}
	100%{
		top: 0;
	}
}

.canying{
	position: absolute;
	width: 128px;
	height: 128px;
	background-image: url(plane.png);
	background-repeat: no-repeat;
	top: 150px;
	left: 0;
}
.canying1{
	opacity: 0.1;
}
.canying2{
	opacity: 0.3;
}
.canying3{
	opacity: 0.5;
}
.canying4{
	opacity: 0.7;
}
@keyframes opacity-change1{
	0%{
		opacity: 0.1;
		left: 0;
		top: 150px;
	}
	50%{
		left: 100px;
		top: 300px;
		opacity: 0.1;
	}
	75%{
		left: 200px;
		top: 150px;
		opacity: 0.1;
	}
	76%{
		left: 200px;
		top: 150px;
		opacity: 0;
	}
	99%{
		left: 0;
		top: 150px;
		opacity: 0;
	}
	100%{
		left: 0;
		top: 150px;
		opacity: 0.1;
	}
}
@keyframes opacity-change2{
	0%{
		opacity: 0.3;
		left: 0;
		top: 150px;
	}
	50%{
		left: 100px;
		top: 300px;
		opacity: 0.3;
	}
	75%{
		left: 200px;
		top: 150px;
		opacity: 0.1;
	}
	76%{
		left: 200px;
		top: 150px;
		opacity: 0;
	}
	99%{
		left: 0;
		top: 150px;
		opacity: 0;
	}
	100%{
		left: 0;
		top: 150px;
		opacity: 0.3;
	}
}@keyframes opacity-change3{
	0%{
		opacity: 0.5;
		left: 0;
		top: 150px;
	}
	50%{
		left: 100px;
		top: 300px;
		opacity: 0.5;
	}
	75%{
		left: 200px;
		top: 150px;
		opacity: 0.5;
	}
	76%{
		left: 200px;
		top: 150px;
		opacity: 0;
	}
	99%{
		left: 0;
		top: 150px;
		opacity: 0;
	}
	100%{
		left: 0;
		top: 150px;
		opacity: 0.5;
	}
}@keyframes opacity-change4{
	0%{
		opacity: 0.7;
		left: 0;
		top: 150px;
	}
	50%{
		left: 100px;
		top: 300px;
		opacity: 0.7;
	}
	75%{
		left: 200px;
		top: 150px;
		opacity: 0.7;
	}
	76%{
		left: 200px;
		top: 150px;
		opacity: 0;
	}
	99%{
		left: 0;
		top: 150px;
		opacity: 0;
	}
	100%{
		left: 0;
		top: 150px;
		opacity: 0.7;
	}
}

.canying4{
	animation: opacity-change4 3s linear 0.84s infinite;
}
.canying3{
	animation: opacity-change3 3s linear 0.88s infinite;
}
.canying2{
	animation: opacity-change2 3s linear 0.92s infinite;
}
.canying1{
	animation: opacity-change1 3s linear 0.96s infinite;
}

