@font-face{
	font-family: blbz;
	src: url(blbz_font.ttf);
}
.font{
	font: 20px/30px blbz,arail;
}
.border{
	width: 100px;
	height: 100px;
	border: 30px solid;
}
.border1{
	border-image: url(border1.png) 30 30 round;
}
.border2{
	border-image: url(border2.png) 30 30 round;
}
.border3{
	border-image: url(border3.png) 30 30 round;
}

.container{
	width: 200px;
	height: 200px;
	position: relative;
	border: 2px solid #ff0000;
}
.box{
	width: 80px;
	height: 80px;
	position: absolute;
	background: #0000ff;
}

.box1{
	left: 5px;
	top: 5px;
}
.box2{
	right: 5px;
	top: 5px;
}
.box3{
	left: 5px;
	bottom: 5px;
}
.box4{
	right: 5px;
	bottom: 5px;
}

.container:hover .box1{
	left: 115px;
	transition: all 1s;
}
.container:hover .box2{
	top: 115px;
	transition: all 1s;
}
.container:hover .box3{
	bottom: 115px;
	transition: all 1s;
}
.container:hover .box4{
	right: 115px;
	transition: all 1s;
}

