.container{
	width: 640px;
	height: 600px;
	background: #2761a9;
	position: relative;
	overflow: hidden;
}
.star{
	background: rgba(255, 255, 255, 0.87);
	width: 3px;
	height: 100px;
	margin-left: 66px;
	float: left;
}
.small{
	width: 1px;
}
.star3 , .star6{
	height: 200px;
}
.long{
	height: 300px;
}

@keyframes slow{
	0%{
		margin-top: 0;
	}
	100%{
		margin-top: 500px;
	}
}
@keyframes fast{
	0%{
		margin-top: 0;
	}
	100%{
		margin-top: 300px;
	}
}
@keyframes fast2{
	0%{
		margin-top: 0;
	}
	100%{
		margin-top: 400px;
	}
}

.slow{
	animation: slow 1s linear 0.5s infinite;
}
.fast{
	animation: fast 0.5s linear 0.5s infinite;
}
.fast2{
	animation: fast2 0.7s linear 0.5s infinite;
}
.superman{
	width: 72px;
	height: 90px;
	position: absolute;
	top: 500px;
	left: 280px;
}
.littleman{
	width: 72px;
	height: 72px;
	background-image: url(littleman.png);
	z-index: 10;
}
.shadow1{
	background: rgba(36,62,79,1);
	width: 3px;
	height: 40px;
	position: relative;
	left: 17px;
	top: -20px;
}



