*{
	padding: 0;
	margin: 0;
}
html{
	font-size: 16px;
}
@media screen and (min-width:400px){
	html{
		font-size: 18px;
	}
}
body{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	padding-top: 45px;
	background-color: #f2f2f2;
}
header{
	position: fixed;
	left: 50%;
	top: 0;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #cccccc;
	max-width: 540px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	padding-right: 60px;
	padding-left: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #f6f6f6;
	z-index: 999;
}
header .user{
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	height: 44px;
}
header .user a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 70px;
	text-align: center;
	text-decoration: none;
	color: #2eaae0;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}
header .user a::before{
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	background: url("携程移动端/img/icons.png") no-repeat -59px -195px;
	background-size: 104px 328px;
	left: 50%;
	top: 5px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
header #search{
	width: 100%;
	height: 24px;
	border: 1px solid #999999;
	border-radius: 8px;
	box-shadow: 0 1px 1px rgba(111,111,111,0.8);
	position: relative;
	top: 10px;
	background-color: white;
	padding-left: 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
header #search::before{
	content: "";
	position: absolute;
	width: 13px;
	height: 13px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 10px;
	background: url("携程移动端/img/icons.png") no-repeat -60px -280px;
	background-size: 104px 328px;
}
header #search input{
	border: none;
	outline: none;
	font-size: 12px;
	position: relative;
	top: 1px;
}


#banner{
	width: 100%;
	background: blue;
	max-width: 540px;
	margin: 0 auto;
}

nav{
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
	padding: 4px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: white;
	overflow: hidden;
}
.row{
	width: 100%;
	height: 6rem;
	margin-bottom: 0.3rem;
	border-radius: 8px;
}
.row li{
	float: left;
	width: 33.33333%;
	height: 3rem;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 1rem;
	line-height: 3rem;
	text-align: center;
}
.row li a{
	color: rgb(250,250,220);
}
.row:nth-child(1){
	background: powderblue;
}
.row:nth-child(2){
	background: green;
}
.row:nth-child(3){
	background: orange;
}
.row li:nth-child(1){
	height: 6rem;
}
.row .logo{
	width: 60px;
	height: 50px;
	background: url("携程移动端/img/icons.png") no-repeat 0 -160px;
	background-size: 150px 400px;
	margin: auto;
}
.row:nth-child(2) .logo{
	background-position: -73px -138px;
}
.row:nth-child(3) .logo{
	background-position: 6px -222px;
}
