#blank{
	float: left;
	width: 80px;
	height: 1px;
}
#Nav .logo{
	background-image: url(logo.png);
	width: 310px;
	height: 78px;
	float: left;
}
.Nav-right{
	margin-left: 60px;
	width: 800px;
	height: 78px;
	background-image: url(nav.png);
	background-repeat: no-repeat;
	float: left;
}

.NavItem{
	height: 78px;
	float: left;
	cursor: pointer;
}
.NavItem1{
	width: 99px;
}
.NavItem2{
	background-position-x: -99px;
	width: 124px;
}
.NavItem3{
	background-position-x: -223px;
	width: 146px;
}
.NavItem4{
	background-position-x: -369px;
	width: 120px;
}
.NavItem5{
	background-position-x: -489px;
	width: 124px;
}
.NavItem6{
	background-position-x: -613px;
	width: 125px;
}

.NavItem:hover{
	background-image: url(nav-on.png);
}
.NavItem.selected{
	background-image: url(nav-on.png);
}

#banner{
	width: 1350px;
	height: 360px;
	position: relative;
	clear: both;
}


.dot{
	position: absolute;
	width: 30px;
	height: 20px;
	padding: 2px;
	cursor: pointer;
	z-index: 100;
	bottom: 10px;
}
.dot1{
	right: 170px;
}
.dot2{
	right: 140px;
}
.dot3{
	right: 110px;
}
.dot4{
	right: 80px;
}
.circle{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	z-index: 100;
}
.circle1{
	border: 2px solid #ff0000;
}
.circle2{
	border: 2px solid #ffa800;
}
.circle3{
	border: 2px solid #0000ff;
}
.circle4{
	border: 2px solid #00ff00;
}

.yuan{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: relative;
	top: 2px;
	left: 2px;
	display: none;
	z-index: 100;
}
.yuan1{
	background: #ff0000;
}
.yuan2{
	background: #ffa800;
}

.yuan3{
	background: #0000ff;
}

.yuan4{
	background: #00ff00;
}

.circle1:hover .yuan1{
	display: block;
}
.circle2:hover .yuan2{
	display: block;
}
.circle3:hover .yuan3{
	display: block;
}
.circle4:hover .yuan4{
	display: block;
}
.picture{
	position: absolute;
	width: 1350px;
	height: 360px;
	left: 0;
	top: 0;
	margin-left: 0;
}
.picture1{
	background: url(./img/1.jpg);
	z-index: 4;
}
.picture2{
	background: url(./img/2.jpg);
	z-index: 3;
}
.picture3{
	background: url(./img/3.png);
	z-index: 2;
}
.picture4{
	background: url(./img/4.png);
	z-index: 1;
}
.dot:hover + .picture{
	z-index: 50;
	left: 1350px;
	margin-left: -1350px;
	transition: margin-left 0.3s;
}


