#tab{
	width: 250px;
	height: 300px;
	position: relative;
}
#tab input{
	display: none;
}
#tab label{
	width: 50px;
	height: 50px;
	float: left;
}
input + *{
	width: 250px;
	height: 250px;
	position: absolute;
	top: 50px;
}

label[for="tab-button1"]{
	background: #00ffa3;
}
label[for="tab-button2"]{
	background: #ff0000;
}
label[for="tab-button3"]{
	background: #00ff3a;
}
label[for="tab-button4"]{
	background: #5400ff;
}
label[for="tab-button5"]{
	background: #230b13;
}
/* input[name="tab-button"]:checked + div{
	z-index: 6;
} */
#tab-button1:checked + div{
	background: #00ffa3;
	z-index: 1;
}
#tab-button2:checked + div{
	background: #ff0000;
	z-index: 1;
}
#tab-button3:checked + div{
	background: #00ff3a;
	z-index: 1;
}
#tab-button4:checked + div{
	background: #5400ff;
	z-index: 1;
}
#tab-button5:checked + div{
	background: #230b13;
	z-index: 1;
}

