#Tab{
	width: 250px;
	height: 400px;
	position: relative;
}
.tab-button{
	width: 50px;
	height: 50px;
	float: left;
}
.tab-button > *{
	width: 250px;
	height: 350px;
	position: absolute;
	top: 50px;
	left: 0;
}
.tab-button1 , .tab-button1 > *{
	background-color: #ff0000;
	z-index: 5;
}
.tab-button2 , .tab-button2 > *{
	background-color: #00ff63;
	z-index: 4;
}
.tab-button3 , .tab-button3 > *{
	background-color: #2000ff;
	z-index: 3;
}
.tab-button4 , .tab-button4 > *{
	background-color: #ff00a2;
	z-index: 2;
}
.tab-button5 , .tab-button5 > *{
	background-color: #051f0f;
	z-index: 1;
}
.tab-button:hover > *{
	z-index: 6;
}
