head,body{
    margin:0; 
    padding:0;
}

.l{
    position:absolute;
}
#L1{
    top:0;
    left:0;
}
#L2{
    top:0;
    left:100px;
}
#L3{
    top:0;
    left:200px;
}
#L4{
    top:140px;
    left:0;
}
#L5{
    top:140px;
    left:100px;
}
#L6{
    top:140px;
    left:200px;
}