a{
    display: block;
    width:117px;
}

a:visited{
    background: #f00;
}
a:hover{
    background: #00f;
}
a:active{
    background: #0f0;
}



input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked+label {
    border: 2px solid #f00;
}
label {
    width: 400px;
    height:400px;
    border-radius: 50%;
    display: block;
    border: 2px solid #fff;
}
label[for="user1"]{
    background: url(周杰伦.jpg);
}
label[for="user2"]{
    background: url(林俊杰.jpg);
}
label[for="user3"]{
    background: url(张学友.jpg)
}