head,body{
    margin:0; 
    padding:0;
}
.bomb{
    width:100px;
    height:100px;
    position:absolute;
}
#Box1{
    background:#f00;
    top:0;
    left:0
}
#Box2{
    background:#ff0;
    top:0px;
    left:100px;
}
#Box3{
    background:#f0f;
    top:0px;
    left:200px;
}
#Box4{
    background:#0f0;
    top:100px;
    left:0;
}
#Box5{
    background:#0ff;
    top:100px;
    left:100px;
}
#Box6{
    background:#00f;
    top:100px;
    left:200px;  
}