html,body{
    margin: 0;
    padding: 0;
}
.clear-up::before,.clear-up:before{
    content:"";
    display: block;
    overflow: hidden;
}

.father{
    background: #00f;    
}
.father::after{ 
        content:"";
        display:block; 
        clear:both; }
.son {
    width: 50px;
    height: 50px;
    border: 1px solid #f00;
    text-align: center;
    line-height: 50px;
    float: left;
}