.container{
    width: 1212px;
    height: 226px;
    padding:50px;
    padding-left:100px；
}
/*最外层容器*/

.red{
    width: 146px;
    height: 116px;
    background: #ac0000;
    position: relative;
    text-align: center;
    float: left;
}
/*红色区域*/

.logo{
    font: 28px/116px yahei;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
}
.logo1{
    color:#5e0000;
    top:3px;
    left:5px;
}
.logo2{
    color:#fefefe;
    z-index: 1;
}
/*logo设置，1为底层，2为顶层*/

.right-w{
    float: left;
}
/*与红色区域对应，左边白色大区域*/

.jiao1{
    width: 0;
    height: 0;
    border-left: 18px solid #6e0000;
    border-top:18px solid #fefefe; 
}
/*上边小直角*/

.grey-b{
    width: 980px;
    height: 80px;
    background:rgba(0,0,0,0.3);
    position: relative;
    top:4px;
}
/*灰色底层*/

.grey-t{
    width: 980px;
    height: 80px;
    background: #d0d0d0;
    position: relative;
    top:-4px;
}
/*灰色顶层*/

.jiao2{
    width: 0;
    height: 0;
    border-left: 18px solid #6e0000;
    border-bottom:18px solid #fefefe; 
}
/*下边小直角*/


.wenzi{
    position: relative;
    left:360px;
    top:6px;
}
/*文字大区域*/

.title{
    line-height: 68px;
    display: inline-block;
    font-size:18px;
    font-family: yahei;
    margin-right:82px;
    cursor: pointer;
}
/*各标题*/



#t1:hover #tri-T1{
    width: 0;
    height: 0;
    border-left:14px solid #d0d0d0;
    border-right:14px solid #d0d0d0;
    border-bottom:16px solid rgba(0,0,0,0.3);
    position: relative;
    top:-10px;
    left:5px;
}
/*移到标题一之后下方三角跳出*/

#t2:hover #tri-T2{
    width: 0;
    height: 0;
    border-left:14px solid #d0d0d0;
    border-right:14px solid #d0d0d0;
    border-bottom:16px solid rgba(0,0,0,0.3);
    position: relative;
    top:-10px;
    left:5px;
}
#t3:hover #tri-T3{
    width: 0;
    height: 0;
    border-left:14px solid #d0d0d0;
    border-right:14px solid #d0d0d0;
    border-bottom:16px solid rgba(0,0,0,0.3);
    position: relative;
    top:-10px;
    left:5px;
}
#t4:hover #tri-T4{
    width: 0;
    height: 0;
    border-left:14px solid #d0d0d0;
    border-right:14px solid #d0d0d0;
    border-bottom:16px solid rgba(0,0,0,0.3);
    position: relative;
    top:-10px;
    left:5px;
}
#t5:hover #tri-T5{
    width: 0;
    height: 0;
    border-left:14px solid #d0d0d0;
    border-right:14px solid #d0d0d0;
    border-bottom:16px solid rgba(0,0,0,0.3);
    position: relative;
    top:-10px;
    left:5px;
}