.container{
    width: 400px;
    height: 400px;
    background: #00f;
    font:italic bold 18px/50px sunsim;
    text-align: center;
    position: relative;
}
.box1{
    background-color:#f00; 
    display: inline;
    line-height: 400px;
}
.box2{
    width: 50px;
    height: 50px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
}

