.container{
	width: 1222px;
	height: 1817px;
	margin: auto;
	overflow: hidden;
}
.tel{
	width: 1222px;
	height: 32px;
	background: #ebebeb;
	position: relative;
}
.tel-logo{
	position: absolute;
	width: 24px;
	height: 24px;
	left: 815px;
	bottom: 2px;
	background-image: url(./image/tel.png);
	background-repeat: no-repeat;
}
.tel-number{
	position: absolute;
	width: 236px;
	height: 24px;
	font: 16px/24px yahei;
	right: 141px;
	bottom: 2px;
}
.blank{
	width: inherit;
	height: 3px;
	background: #ebebeb;
	margin-top: 1px;
}




#Nav{
	width: inherit;
	height: 102px;
	position: relative;
}
.logo{
	float: left;
	margin: 42px 90px 22px 145px;
	background-image: url(./image/logo.png);
	width: 195px;
	height: 39px;
}
.nav-T{
	position: absolute;
	left: 430px;
	top: 46px;
}
.nav{
	float: left;
	width: 85px;
	height: 32px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}
.line{
	float: left;
	width: 1px;
	height: 16px;
	background: #ebebeb;
	margin: 0 8px 18px 8px;
}
.nav:hover{
	font-weight: bold;
	border-bottom: 3px solid #000000;
}
.selected{
	font-weight: bold;
	border-bottom: 3px solid #000000;
}


.banner{
	width: 1222px;
	height: 400px;
	background-image: url(./image/banner.png);
	position: relative;
}


.lianjie{
	width: 374px;
	height: 72px;
	margin: auto;
	margin-top: 158px;
}
.lianjie-a{
	width: 374px;
	height: 72px;
	display: block;
}

.box-R{
	width: 27px;
	height: 112px;
	position: absolute;
	right: 0;
	top: 99px;
}
.telNumber{
	background: #ff0000;
	width: 100px;
	height: 50px;
	position: absolute;
	left: 27px;
	color: #ffffff;
	font: 18px simsun;
	transition: all 0.4s;
}
.box-R:hover .telNumber{
	left: -100px;
}

.container-b{
	width: 952px;
	height: 1157px;
	margin: auto;
}
#Choice{
	width: 951px;
	height: 200px;
}
.choice{
	width: 106px;
	height: 106px;
	border: 2px solid #616569;
	border-radius: 50%;
	float: left;
	margin: 41px;
	margin-top: 45px;
	position: relative;
}
.choice1{
	margin-left: 36px;
}
.choice5{
	margin-right: 36px;
}

.circle{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #2d3237;
	position: absolute;
	top: 13px;
	left: 13px;
}
.circle1{
	background-image: url(./image/4.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
.circle2{
	background-image: url(./image/5.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
.circle3{
	background-image: url(./image/2.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
.circle4{
	background-image: url(./image/6.png);
	background-repeat: no-repeat;
	background-position: 50%;
}
.circle5{
	background-image: url(./image/3.png);
	background-repeat: no-repeat;
	background-position: 50%;
}

.title{
	width: 54px;
	height: 14px;
	font: 12px yahei;
	font-weight: bold;
	color: #2d3237;
	background: #ffffff;
	text-align: center;
	position: absolute;
	left: 27px;
	top: -4px;
}

.exhibition{
	width: inherit;
	height: 32px;
	background: #2d3237;
	font: 20px/32px yahei;
	text-align: center;
	color: #ff0000;
}

.example{
	width: inherit;
	height: 2px;
	background: #2d3237;
	border-top: 9px solid #ffffff;
	border-bottom: 9px solid #ffffff;
	position: relative;
}
.anli{
	width: 76px;
	height: 20px;
	background: #ffffff;
	text-align: center;
	position: relative;
	top: -9px;
	left: 442px;
	font: bold 13px yahei;
	color: #2d3237;
}


.picture-T{
	width: inherit;
	height: 300px;
	margin-top: 60px;
}

.picture{
	height: 300px;
	width: 172px;
	margin-right: 23px;
	float: left;
	cursor: pointer;
}
.picture1{
	background-image: url(./image/7.png);
}
.picture2{
	background-image: url(./image/8.png);
}
.picture3{
	background-image: url(./image/9.png);
}
.picture4{
	background-image: url(./image/10.png);
}
.picture5{
	margin: 0;
	background-image: url(./image/11.png);
}
.about{
	width: inherit;
	height: 32px;
	background: #2d3237;
	font: 20px/32px yahei;
	text-align: center;
	margin-top: 56px;
}
.text1{
	color: #ff0000;
}
.text2{
	color: #ffffff;
}

.AboutUs{
	width: inherit;
	height: 2px;
	background: #2d3237;
	border-top: 9px solid #ffffff;
	border-bottom: 9px solid #ffffff;
	position: relative;
}

.aboutus{
	width: 76px;
	height: 20px;
	background: #ffffff;
	text-align: center;
	position: absolute;
	top: -9px;
	left: 442px;
	font: bold 13px yahei;
	color: #2d3237;
}

.description{
	margin-top: 28px;
	width: inherit;
	height: 76px;
	text-align: center;
}
#d1{
	font-size: 16px;
	line-height: 10px;
	color: #666666;
}

#d2 , #d3{
	font-size: 14px;
	line-height: 9px;
	color: #666666;
}

.Sevice{
	width: inherit;
	height: 32px;
	background: #2d3237;
	font: 20px/32px yahei;
	text-align: center;
	margin-top: 84px;
}


.SP{
	position: relative;
	top: 1px;
	width: inherit;
	height: 2px;
	background: #2d3237;
	border-top: 9px solid #ffffff;
	border-bottom: 9px solid #ffffff;
}

.sp{
	width: 76px;
	height: 20px;
	background: #ffffff;
	text-align: center;
	position: relative;
	top: -9px;
	left: 442px;
	font: bold 13px yahei;
	color: #2d3237;
}


.progress{
	margin-top: 37px;
	height: 26px;
	width: inherit;
}

.step{
	height: 26px;
	float: left;
	vertical-align: middle;
	margin-left: 12px;
}
.step1 , .step3 , .step4 , .step6 , .step7 , .step9 , .step10{
	width: 25px;
	background-repeat: no-repeat;
	background-position: 50%;
}
.step2 , .step5 , .step8 , .step11{
	font: bold 14px yahei;
	color: #666666;
	position: relative;
	top: 3px;
}

.step1 , .step4 , .step7 , .step10{
	margin-left: 10px;
}
.step1{
	background-image: url(./image/p1.png);
	margin-left: 108px;
}
.step3 , .step6 , .step9{
	background-image: url(./image/p2.png);
}
.step4{
	background-image: url(./image/p3.png);
}
.step7{
	background-image: url(./image/p4.png);
}
.step10{
	background-image: url(./image/p5.png);
}

#End{
	padding-top: 20px;
	width: inherit;
	height: 119px;
	background: #eaeaea;
	border-top: 1px solid #b4b4b4;
	text-align: center;
	font: bold 13px yahei;
	line-height: 12px;
	word-spacing: 4px;
}
