input[type="checkbox"]{
    display: none;
}
label{
    display: block;
    width:200px;
    height:200px;
    border:2px solid #fff;   
    border-radius: 50%;
    float:left;
}
label[for="user1"]{
    background: url(胡歌.jpg);
}
label[for="user2"]{
    background: url(刘亦菲.jpg);
}
label[for="user3"]{
    background: url(吴彦祖.jpg);
}
label[for="user4"]{
    background: url(霍建华.jpg);
}
label[for="user5"]{
    background: url(谢霆锋.jpg);
}
label[for="user6"]{
    background: url(唐嫣.jpg);
}
input[type="checkbox"]:checked+label{
    border:2px solid #f00;
 
}