.picture{
	width: 200px;
	height: 100px;
	margin-top: 30px;
	margin-left: 100px;
}
.circle{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	float: left;
	margin-left: 1px;
	opacity: 0.3;
}
.circle1{
	background-color: #0000ff;
}
.circle2{
	background-color: #5400ff;
}
.circle3{
	background-color: #a900ff;
}
.circle4{
	background-color: #fd00ff;
}
.circle5{
	background-color: #ff0062;
}
@keyframes change1{
	0%{
		opacity: 0.3;
		transform: scale(1);
	}
	50%{
		opacity: 0.1;
		transform: scale(2);
	}

	100%{
		opacity: 0.3;
		transform: scale(1);
	}
}


.circle1{
	animation: change1 1s ease infinite;
}
.circle2{
	animation: change1 1s ease 0.2s  infinite;
}
.circle3{
	animation: change1 1s ease 0.3s infinite;
}
.circle4{
	animation: change1 1s ease 0.4s infinite;
}
.circle5{
	animation: change1 1s ease 0.5s infinite;
}


.picture2{
	width: 100px;
	height: 100px;
	position: relative;
}
.ball{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #00fff6;
	position: absolute;
}
.ball1{
	left: 40px;
	top: 0;
}
.ball2{
	left: 20px;
	top: 20px;
}
.ball3{
	left: 60px;
	top: 20px;
}
.ball4{
	left: 0;
	top: 40px;
}
.ball5{
	left: 40px;
	top: 40px;
}

.ball6{
	left: 80px;
	top: 40px;
}

.ball7{
	left: 20px;
	top: 60px;
}
.ball8{
	left: 60px;
	top: 60px;
}
.ball9{
	left: 40px;
	top: 80px;
}
@keyframes ch1{
	0%{
	}
	50%{
		left: 20px;
		top: 20px;
	}
	100%{
		left: 20px;
		top: 20px;
	}
}
@keyframes ch2{
	0%{
	}
	50%{
		left: 0;
		top: 40px;
	}
	100%{
		left: 0;
		top: 40px;
	}
}
@keyframes ch3{
	0%{
	}
	50%{
		left: 40px;
		top: 0;
	}
	100%{
		left: 40px;
		top: 0;
	}
}
@keyframes ch4{
	0%{
	}
	50%{
		left: 20px;
		top: 60px;
	}
	100%{
		left: 20px;
		top: 60px;
	}
}
@keyframes ch6{
	0%{
	}
	50%{
		left: 60px;
		top: 20px;
	}
	100%{
		left: 60px;
		top: 20px;
	}
}
@keyframes ch7{
	0%{
	}
	50%{
		left: 40px;
		top: 80px;
	}
	100%{
		left: 40px;
		top: 80px;
	}
}
@keyframes ch8{
	0%{
	}
	50%{
		left: 80px;
		top: 40px;
	}
	100%{
		left: 80px;
		top: 40px;
	}
}
@keyframes ch9{
	0%{
	}
	50%{
		left: 60px;
		top: 60px;
	}
	100%{
		left: 60px;
		top: 60px;
	}
}
.ball1{
	animation: ch1 1s linear infinite;
}
.ball2{
	animation: ch2 1s linear infinite;
}

.ball3{
	animation: ch3 1s linear infinite;
}
.ball4{
	animation: ch4 1s linear infinite;
}
.ball6{
	animation: ch6 1s linear infinite;
}
.ball7{
	animation: ch7 1s linear infinite;
}
.ball8{
	animation: ch8 1s linear infinite;
}
.ball9{
	animation: ch9 1s linear infinite;
}

.picture3{
	width: 300px;
	height: 300px;
	position: relative;
}
.container{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: 75px;
	left: 75px;
	box-shadow: 0 0 0 100px rgba(255, 255, 255, 0.6), 0 0 15px 0 rgba(0, 0, 0, 0.2) inset;
}
.gear1{
	width: 128px;
	height: 128px;
	background-image: url(red-gear.png);
	position: absolute;
	top: 24px;
	left: 86px;
}
.gear2{
	width: 96px;
	height: 96px;
	background-image: url(green-gear.png);
	position: absolute;
	bottom: 65px;
	left: 42px;
}

.gear3{
	width: 72px;
	height: 72px;
	background-image: url(brown-gear.png);
	position: absolute;
	bottom: 57px;
	left: 140px;
}
@keyframes gear-rotate1{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes gear-rotate2{
	0%{
		transform: rotate(360deg);
	}
	100%{
		transform: rotate(0deg);
	}
}
.gear1 , .gear3{
	animation: gear-rotate1 2s linear infinite;
}
.gear2{
	animation: gear-rotate2 2s linear infinite;
}

.picture4{
	width: 200px;
	height: 200px;
	background: #0000a4;
	position: relative;
}
.container1{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 70px solid rgba(255,255,255,0.1);
}
.moon{
	width: 96px;
	height: 96px;
	background-image: url(moon.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 30px;
	left: 52px;
	transform-origin: 50% 72%;
}
@keyframes moon-rotate{
	0%{
	}
	100%{
		transform: rotate(360deg);
	}
}
.moon{
	animation: moon-rotate 2s linear infinite;
}

