body{
	background-color: #d6dae2;
	width: 1350px;
}
#header{
	height: 80px;
	width: inherit;
	background-color: #ffffff;
}
#blank{
	float: left;
	width: 80px;
	height: 1px;
}
#Nav .logo{
	background-image: url(../images/logo.png);
	width: 310px;
	height: 78px;
	float: left;
}
.Nav-right{
	margin-left: 60px;
	width: 800px;
	height: 78px;
	background-image: url(../images/nav.png);
	background-repeat: no-repeat;
	float: left;
}

.NavItem{
	height: 78px;
	float: left;
	cursor: pointer;
}
.NavItem1{
	width: 99px;
}
.NavItem2{
	background-position-x: -99px;
	width: 124px;
}
.NavItem3{
	background-position-x: -223px;
	width: 146px;
}
.NavItem4{
	background-position-x: -369px;
	width: 120px;
}
.NavItem5{
	background-position-x: -489px;
	width: 124px;
}
.NavItem6{
	background-position-x: -613px;
	width: 125px;
}

.NavItem:hover{
	background-image: url(../images/nav-on.png);
}
.NavItem.selected{
	background-image: url(../images/nav-on.png);
}

#banner{
	width: 1350px;
	height: 360px;
	position: relative;
	clear: both;
}


.dot{
	position: absolute;
	width: 30px;
	height: 20px;
	padding: 2px;
	cursor: pointer;
	z-index: 100;
	bottom: 10px;
}
.dot1{
	right: 170px;
}
.dot2{
	right: 140px;
}
.dot3{
	right: 110px;
}
.dot4{
	right: 80px;
}
.circle{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	z-index: 100;
}
.circle1{
	border: 2px solid #ff0000;
}
.circle2{
	border: 2px solid #ffa800;
}
.circle3{
	border: 2px solid #0000ff;
}
.circle4{
	border: 2px solid #00ff00;
}

.yuan{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: relative;
	top: 2px;
	left: 2px;
	display: none;
	z-index: 100;
}
.yuan1{
	background: #ff0000;
}
.yuan2{
	background: #ffa800;
}

.yuan3{
	background: #0000ff;
}

.yuan4{
	background: #00ff00;
}

.circle1:hover .yuan1{
	display: block;
}
.circle2:hover .yuan2{
	display: block;
}
.circle3:hover .yuan3{
	display: block;
}
.circle4:hover .yuan4{
	display: block;
}
.picture{
	position: absolute;
	width: 1350px;
	height: 360px;
	left: 0;
	top: 0;
	margin-left: 0;
}
.picture1{
	background: url(../images/banner1.jpg);
	z-index: 4;
}
.picture2{
	background: url(../images/banner2.jpg);
	z-index: 3;
}
.picture3{
	background: url(../images/banner3.png);
	z-index: 2;
}
.picture4{
	background: url(../images/banner4.png);
	z-index: 1;
}
.dot:hover + .picture{
	z-index: 50;
	left: 1350px;
	margin-left: -1350px;
	transition: margin-left 0.3s;
}

/*-------------------------------直播预告----------------------------------*/
.live-png{
	width: 20px;
	height: 20px;
	background-image: url(../images/live.png);
}

input{
	display: none;
}
.live-container{
	width: 1350px;
	height: 36px;
	background-color: #ffffff;
	overflow: hidden;
	transition: all 0.8s;
}
.live-mes{
	line-height: 36px;
}
.live-mes *{
	float: left;
	margin-left: 160px;
	font: 16px yahei,arial;
}
.live-png{
	margin-right: 10px;
	margin-top: 8px;
}
#live-label{
	display: block;
	width: 48px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	top: -30px;
	left: 620px;
	background-image: url(../images/down.png);
}
.live-pic , .live-post{
	display: block;
	float: left;
	margin-top: 10px;
}
.live-pic{
	margin-left: 208px;
}
.live-post{
	width: 548px;
	height: 162px;
	margin-left: 20px;
	color: #000000;
}
.live-post .title{
	font: 20px yahei,arial;
}
.time-png , .live-post .time{
	margin-top: 10px;
	float: left;
}
.live-post .time-png{
	width: 16px;
	height: 16px;
	margin-top: 11px;
	background-image: url(../images/time.png);
	background-repeat: no-repeat;
}
.live-post .time{
	font: 13px/16px arial;
	color: #918e8e;
}
.live-post img{
	display: none;
}
.live-post .content{
	clear: both;
}
.live-post p{
	display: block;
	font-size: 15px;
	margin-top: 48px;
}

#live-box:checked + div{
	height: 250px;
}

/*-------------------------------正文----------------------------------*/

#content{
	width: 1070px;
	height: 1600px;
	margin: auto;
}
.content-left{
	width: 784px;
	height: inherit;
	float: left;
}
.content-right{
	width: 266px;
	height: inherit;
	margin-left: 20px;
	float: left;
}
.erweima{
	position: absolute;
	text-align: center;
	left: 1220px;
	width: 122px;
	height: 164px;
	font: 13px/30px yahei,arial;
	color: #918e8e;
	background: #ffffff;
}
.erweima-png{
	width: 108px;
	height: 108px;
	margin-left: 8px;
	background-image: url(../images/erweima.png);
}
.erweima p{
	margin-top: 0;
	margin-bottom: -2px;
}
/*-------------------------------热门课程---------------------------------*/

.courses{
	width: inherit;
	height: 357px;
	background-color: #f2f1ef;
}
.courses-top{
	height: 58px;
	width: inherit;
	line-height: 58px;
}
.course-png{
	width: 20px;
	height: 20px;
	background-image: url(../images/course.png);
	float: left;
	margin-left: 20px;
	margin-top: 18px;
}
.courses-top span{
	float: left;
	margin-left: 10px;
	font-size: 20px;
}
.courses-more{
	font: 12px arial;
	color: #918e8e;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
.course-con{
	clear: both;
}
p img{
	display: none;
}
.course-con .post{
	width: 225px;
	height: 275px;
	float: left;
	margin-left: 20px;
	background-color: #ffffff;
}
.post .title{
	font: 14px/30px arial;
}
.courses .post p{
	font: 14px/20px arial;
	color: #918e8e;
	margin-top: -10px;
}
.courses .title , .courses p{
	margin-left: 10px;
}

/*-------------------------------干货分享---------------------------------*/

.sharing{
	width: inherit;
	height: 500px;
	background-color: #f2f1ef;
	margin-top: 20px;
}
.sharing-top{
	height: 58px;
	width: inherit;
	line-height: 58px;
}
.sharing-png{
	width: 20px;
	height: 20px;
	background-image: url(../images/sharing.png);
	float: left;
	margin-left: 20px;
	margin-top: 18px;
}

.sharing-top span{
	float: left;
	margin-left: 10px;
	font-size: 20px;
}
.sharing-more{
	font: 12px arial;
	color: #918e8e;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.sharing-con{
	clear: both;
	margin-left: 20px;
}

.sharing .post{
	width: 740px;
	height: 130px;
	background: #ffffff;
	margin-bottom: 18px;
}

.sharing .pic , .sharing .detail{
	float: left;
}
.sharing .pic , .sharing .detail{
	margin-top: 20px;
	margin-left: 20px;
}

.sharing .title{
	font-size: 20px;
}
.sharing .detail{
	width: 490px;
}
.sharing .time{
	font: 13px/16px arial;
	color: #918e8e;
}
.time-png , .sharing .time{
	margin-top: 6px;
	float: left;
}
.sharing .time-png{
	width: 16px;
	height: 16px;
	margin-top: 7px;
	background-image: url(../images/time.png);
	background-repeat: no-repeat;
}
.sharing p{
	color: #000000;
	clear: both;
	margin-top: 10px;
	font-size: 14px;
}

/*---------------------------------精品活动-----------------------------*/
.activities{
	width: inherit;
	height: 703px;
	background: #f2f1ef;
	margin-top: 20px;
}
.activities-top{
	height: 58px;
	width: inherit;
	line-height: 58px;
}
.activities-png{
	width: 20px;
	height: 20px;
	background-image: url(../images/star.png);
	float: left;
	margin-left: 20px;
	margin-top: 18px;
}

.activities-top span{
	float: left;
	margin-left: 10px;
	font-size: 20px;
}
.activities-more{
	font: 12px arial;
	color: #918e8e;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.activities-con{
	clear: both;
	margin-top: -20px;
}

.activities .post{
	width: inherit;
	height: 164px;
	margin-bottom: 18px;
}

.activities .pic , .activities .detail{
	float: left;
}

.activities .pic , .activities .detail{
	margin-left: 20px;
}
.activities .detail{
	width: 464px;
}

.activities .title{
	font-size: 20px;
}
.activities .time{
	font: 13px/16px arial;
	color: #918e8e;
}
.time-png , .activities .time{
	margin-top: 6px;
	float: left;
}
.activities .time-png{
	width: 16px;
	height: 12px;
	margin-top: 7px;
	background-image: url(../images/time2.png);
	background-repeat: no-repeat;
}
.activities p{
	clear: both;
	color: #000000;
	font-size: 14px;
	line-height: 24px;
}
.line{
	width: inherit;
	height: 2px;
	width: 710px;
	margin-left: 20px;
	margin-bottom: 20px;
	background: #d6dae2;
}

/*--------------------------右边-------------------------*/
.content-right{
	background-color: #fcfafb;
	position: relative;
}
.right-top{
	width: inherit;
	height: 62px;
}
.top-logo{
	width: 20px;
	height: 22px;
	border: 2px solid #000000;
	border-bottom: none;
	font: bold 13px/20px "黑体",arial;
	margin-top: 20px;
	margin-left: 20px;
}
.content-right .box{
	width: 110px;
	float: left;
	text-align: center;
	line-height: 30px;
	border: 2px solid #cccccc;
	cursor: pointer;
}
.content-right .popular{
	border-bottom: 2px solid #fcfafb;
	margin-left: 20px;
	margin-top: -12px;
	margin-bottom: 10px;
}
.content-right .new{
	border-left: none;
	margin-top: 20px;
	border-top: 2px solid #fcfafb;
	border-right: 2px solid #fcfafb;
	position: absolute;
	top: 37px;
	left: 134px;
}

.hottest-con{
	margin-left: 20px;
	margin-top: 35px;
}
.hottest-con .title{
	background: rgba(73,72,56,0.25);
	width: 227px;
	position: relative;
	color: #ffffff;
	top: -33px;
}
.hottest-con .post{
	margin-top: -10px;
}
#hottest{
}
#newest{
	width: 228px;
	height: 770px;
	position: absolute;
	top: 102px;
	left: 20px;
	background: #fcfafb;
	z-index: -1;
}
#newest-list:checked + div{
	z-index: 10;
}

#newest .title{
	margin-top: -7px;
	margin-bottom: 5px;
}




.content-right .line{
	width: inherit;
	margin-left: 0;
	margin-top: -10px;
}

.right-logo{
	width: 226px;
	height: 172px;
	margin: auto;
	margin-top: 18px;
	background-image: url(../images/right-logo.png);
}
.description{
	margin: auto;
	width: 226px;
	height: 138px;
	font-size: 14px;
}
.content-right h2{
	font-weight: 400;
	margin-left: 20px;
}

.tel-logo{
	width: 20px;
	height: 20px;
	background-image: url(../images/tel.png);
}
.contact{
	margin: auto;
	width: 226px;
	height: 100px;
}
.contact .tel-logo , .contact h2{
	float: left;
}
.contact h2{
	font-weight: 400;
	margin: 0;
	margin-top: -5px;
	margin-left: 10px;
}
.tel-way{
	clear: both;
	position: relative;
	top: 20px;
}
.contact p{
	font-size: 14px;
}

/*-----------------底部-----------------------*/
#footer{
	width: inherit;
	height: 369px;
	background: #f6f6f6;
}
.fenge{
	width: 337px;
	height: 2px;
	float: left;
}
.fenge1{
	background: #1fc0ef;
}
.fenge2{
	background: #f6a544;
}
.fenge3{
	background: #8cbe00;
}
.fenge4{
	background: #ff6c00;
	width: 339px;
}
.friend-left{
	width: 780px;
	height: 312px;
	margin-left: 186px;
}
.friend-link{
	width: 780px;
	height: 78px;
}
.friend-left , .friend-right{
	float: left;
}
.friend-right{
	width: 200px;
	height: 312px;
}
.friend-left h5{
	font: 14px simsun,arial;
	font-weight: 600;
	margin-top: 33px;
	margin-left: -15px;
}
#footer .box{
	width: 80px;
	height: 27px;
	float: left;
	margin-right: 48px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.box1{
	background-image: url(../images/zone.png);
}
.box2{
	background-image: url(../images/friend.png);
}
.box3{
	background-image: url(../images/weibo.png);
}
.box4{
	background-image: url(../images/game.png);
}
.box5{
	background-image: url(../images/pay.png);
}
.box6{
	background-image: url(../images/mail.png);
}
.box7{
	background-image: url(../images/power.png);
}
.box8{
	background-image: url(../images/data.png);
}
.box9{
	background-image: url(../images/open.png);
}
.box10{
	background-image: url(../images/brand.png);
}
.box11{
	font: 13px/26px simsun,arial;
}
.friend{
	font: 14px arial;
	color: #3f3f3f;
	float: left;
	margin: 0 20px 0 13px;
	line-height: 26px;
	cursor: pointer;
}
.friend1 , .friend9{
	margin-left: 4px;
}



.copyright{
	white-space: inherit;
	height: 55px;
	background: #bababa;
	clear: both;
	text-align: center;
	font: 14px/54px arial;
}

.weibo , .Qzone{
	width: 98px;
	height: 24px;
	font: 12px arial;
}
.weibo-thu , .zone-thu{
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
} 
.weibo-thu{
	background-image: url(../images/weibo-thu.png);
}
.zone-thu{
	background-image: url(../images/zone-thu.png);
}
.friend-right h5{
	font: 14px simsun,arial;
	font-weight: 600;
	margin-top: 36px;
	margin-bottom: 14px;
}
.Qzone *{
	float: left;
}
.weibo *{
	float: left;
}
